# Using Predictive Analytics to Predict Delays in Maritime Container Shipping

In [1]:
%matplotlib inline

**Import Libraries**

In [2]:
import csv
import pandas as pd
import numpy as np
import pylab 
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

#http://pythondata.com/dask-large-csv-python/
#import dask.dataframe as dd
 
#from collections import Counter
#from patsy import dmatrices
#import statsmodels.api as sm

#https://www.dataquest.io/blog/pandas-big-data/

**Read in file**

In [3]:
df = pd.read_pickle('2014_data_top10.pkl')

In [4]:
#check that all rows imported
df.shape

(8003697, 24)

In [5]:
#check datatypes
df.dtypes

identifier                             uint64
trade_update_date              datetime64[ns]
run_date                       datetime64[ns]
vessel_name                          category
port_of_unlading                     category
estimated_arrival_date         datetime64[ns]
foreign_port_of_lading               category
record_status_indicator              category
place_of_receipt                     category
port_of_destination                  category
foreign_port_of_destination          category
actual_arrival_date            datetime64[ns]
consignee_name                       category
shipper_party_name                   category
container_number                     category
description_sequence_number            uint64
piece_count                            uint64
description_text                     category
carrier                              category
day_of_week_est                         uint8
day_of_week_act                         uint8
month_est                               uint8
month_act                               uint8
delay_days                              int16
dtype: object

In [6]:
df[['identifier','trade_update_date','run_date','foreign_port_of_lading','port_of_unlading','estimated_arrival_date','actual_arrival_date']].iloc[0:50,:]

,identifier,trade_update_date,run_date,foreign_port_of_lading,port_of_unlading,estimated_arrival_date,actual_arrival_date
0,2014082158845,2014-07-30,2014-08-21,"Pusan,South Korea","Seattle, Washington",2014-08-14,2014-08-19
1,2014082158905,2014-07-30,2014-08-21,"Pusan,South Korea","Seattle, Washington",2014-08-14,2014-08-19
2,2014082158905,2014-07-30,2014-08-21,"Pusan,South Korea","Seattle, Washington",2014-08-14,2014-08-19
3,2014082158905,2014-07-30,2014-08-21,"Pusan,South Korea","Seattle, Washington",2014-08-14,2014-08-19
4,2014082158983,2014-08-06,2014-08-21,"Yantian,China (Mainland)","Long Beach, California",2014-08-19,2014-08-20
5,2014082159121,2014-07-30,2014-08-21,"Kaohsiung,China (Taiwan)","Tacoma, Washington",2014-08-18,2014-08-20
6,2014082159129,2014-07-30,2014-08-21,"Kaohsiung,China (Taiwan)","Tacoma, Washington",2014-08-18,2014-08-20
7,2014082159222,2014-07-30,2014-08-21,"Xiamen,China (Mainland)","Los Angeles, California",2014-08-19,2014-08-19
8,2014082159239,2014-07-30,2014-08-21,"Xiamen,China (Mainland)","Los Angeles, California",2014-08-19,2014-08-19
9,2014082159239,2014-07-30,2014-08-21,"Xiamen,China (Mainland)","Los Angeles, California",2014-08-19,2014-08-19
10,2014082159239,2014-07-30,2014-08-21,"Xiamen,China (Mainland)","Los Angeles, California",2014-08-19,2014-08-19
11,2014082159239,2014-07-30,2014-08-21,"Xiamen,China (Mainland)","Los Angeles, California",2014-08-19,2014-08-19
14,2014082159855,2014-07-30,2014-08-21,"Hong Kong,Hong Kong","Los Angeles, California",2014-08-19,2014-08-19
16,2014082160196,2014-08-18,2014-08-21,"Stadersand,Federal Republic of Germany","New York/Newark Area, Newark, New Jersey",2014-08-14,2014-08-17
18,2014082160386,2014-08-01,2014-08-21,"Kaohsiung,China (Taiwan)","Tacoma, Washington",2014-08-19,2014-08-20
19,2014082160386,2014-08-01,2014-08-21,"Kaohsiung,China (Taiwan)","Tacoma, Washington",2014-08-19,2014-08-20
20,2014082160386,2014-08-01,2014-08-21,"Kaohsiung,China (Taiwan)","Tacoma, Washington",2014-08-19,2014-08-20
21,2014082160386,2014-08-01,2014-08-21,"Kaohsiung,China (Taiwan)","Tacoma, Washington",2014-08-19,2014-08-20
22,2014082160386,2014-08-01,2014-08-21,"Kaohsiung,China (Taiwan)","Tacoma, Washington",2014-08-19,2014-08-20
23,2014082160386,2014-08-01,2014-08-21,"Kaohsiung,China (Taiwan)","Tacoma, Washington",2014-08-19,2014-08-20
24,2014082160386,2014-08-01,2014-08-21,"Kaohsiung,China (Taiwan)","Tacoma, Washington",2014-08-19,2014-08-20
25,2014082160386,2014-08-01,2014-08-21,"Kaohsiung,China (Taiwan)","Tacoma, Washington",2014-08-19,2014-08-20
26,2014082160386,2014-08-01,2014-08-21,"Kaohsiung,China (Taiwan)","Tacoma, Washington",2014-08-19,2014-08-20
27,2014082160422,2014-07-30,2014-08-21,"Salvador,Brazil","Charleston, South Carolina",2014-08-18,2014-08-18
28,2014082160422,2014-07-30,2014-08-21,"Salvador,Brazil","Charleston, South Carolina",2014-08-18,2014-08-18
31,2014082160553,2014-08-15,2014-08-21,"Anvers,Belgium","New York/Newark Area, Newark, New Jersey",2014-08-18,2014-08-19
32,2014082160553,2014-08-15,2014-08-21,"Anvers,Belgium","New York/Newark Area, Newark, New Jersey",2014-08-18,2014-08-19
34,2014082160824,2014-08-01,2014-08-21,"Yantian,China (Mainland)","Los Angeles, California",2014-08-19,2014-08-19
35,2014082160869,2014-07-30,2014-08-21,"Ulsan,South Korea","Houston, Texas",2014-08-13,2014-08-14
37,2014082160967,2014-07-30,2014-08-21,"Le Havre,France","Charleston, South Carolina",2014-08-19,2014-08-19
47,2014082161402,2014-07-30,2014-08-21,"Yantian,China (Mainland)","Tacoma, Washington",2014-08-19,2014-08-19
49,2014082161808,2014-07-30,2014-08-21,"Pusan,South Korea","Tacoma, Washington",2014-08-23,2014-08-20
50,2014082161884,2014-07-30,2014-08-21,"Algeciras,Spain","Houston, Texas",2014-08-19,2014-08-20
51,2014082162050,2014-07-31,2014-08-21,"Algeciras,Spain","Houston, Texas",2014-08-19,2014-08-20
52,2014082162442,2014-07-31,2014-08-21,"Kaohsiung,China (Taiwan)","Tacoma, Washington",2014-08-16,2014-08-20
61,2014082162737,2014-07-31,2014-08-21,"Kaohsiung,China (Taiwan)","Tacoma, Washington",2014-08-23,2014-08-20
62,2014082162737,2014-07-31,2014-08-21,"Kaohsiung,China (Taiwan)","Tacoma, Washington",2014-08-23,2014-08-20
63,2014082162737,2014-07-31,2014-08-21,"Kaohsiung,China (Taiwan)","Tacoma, Washington",2014-08-23,2014-08-20
64,2014082164391,2014-07-31,2014-08-21,"Bremerhaven,Federal Republic of Germany","Charleston, South Carolina",2014-08-19,2014-08-20
65,2014082162737,2014-07-31,2014-08-21,"Kaohsiung,China (Taiwan)","Tacoma, Washington",2014-08-23,2014-08-20
66,2014082162768,2014-07-31,2014-08-21,"Hong Kong,Hong Kong","Los Angeles, California",2014-08-19,2014-08-20
67,2014082162773,2014-07-31,2014-08-21,"Yantian,China (Mainland)","Los Angeles, California",2014-08-18,2014-08-20
68,2014082163214,2014-07-31,2014-08-21,"Yantian,China (Mainland)","Tacoma, Washington",2014-08-23,2014-08-20
69,201408216330,2014-07-14,2014-08-21,"Tsingtao,China (Mainland)","Los Angeles, California",2014-07-28,2014-07-28
70,2014082163302,2014-07-31,2014-08-21,"Kaohsiung,China (Taiwan)","Tacoma, Washington",2014-08-18,2014-08-20
71,2014082163398,2014-07-31,2014-08-21,"Hong Kong,Hong Kong","Long Beach, California",2014-08-19,2014-08-20
72,2014082163402,2014-07-31,2014-08-21,"Yantian,China (Mainland)","Los Angeles, California",2014-08-19,2014-08-19
73,2014082163431,2014-07-31,2014-08-21,"Shanghai ,China (Mainland)","Seattle, Washington",2014-08-18,2014-08-18
74,2014082163454,2014-07-31,2014-08-21,"Shanghai ,China (Mainland)","Los Angeles, California",2014-08-17,2014-08-17
75,2014082163568,2014-07-31,2014-08-21,"Kobe,Japan","Long Beach, California",2014-08-20,2014-08-20

** Features to Consider **

In [7]:
df.head()

,identifier,trade_update_date,run_date,vessel_name,port_of_unlading,estimated_arrival_date,foreign_port_of_lading,record_status_indicator,place_of_receipt,port_of_destination,...,container_number,description_sequence_number,piece_count,description_text,carrier,day_of_week_est,day_of_week_act,month_est,month_act,delay_days
0,2014082158845,2014-07-30,2014-08-21,HYUNDAI FORCE,"Seattle, Washington",2014-08-14,"Pusan,South Korea",New,"XINGANG, PC",NaN,...,TGHU8036820,1,7881,IKEA HOME FURNISHING PRODUCTS TARIFF NUMBER 44...,HYUNDAI,3,1,8,8,5
1,2014082158905,2014-07-30,2014-08-21,HYUNDAI FORCE,"Seattle, Washington",2014-08-14,"Pusan,South Korea",New,"XINGANG, PC",NaN,...,APZU3172532,1,80,KLA-GARD PACKED ON 60 PALLETS -DRILLING MUD AD...,HYUNDAI,3,1,8,8,5
2,2014082158905,2014-07-30,2014-08-21,HYUNDAI FORCE,"Seattle, Washington",2014-08-14,"Pusan,South Korea",New,"XINGANG, PC",NaN,...,APZU3599329,1,80,KLA-GARD PACKED ON 60 PALLETS -DRILLING MUD AD...,HYUNDAI,3,1,8,8,5
3,2014082158905,2014-07-30,2014-08-21,HYUNDAI FORCE,"Seattle, Washington",2014-08-14,"Pusan,South Korea",New,"XINGANG, PC",NaN,...,TRLU3176120,1,80,KLA-GARD PACKED ON 60 PALLETS -DRILLING MUD AD...,HYUNDAI,3,1,8,8,5
4,2014082158983,2014-08-06,2014-08-21,OOCL SHENZHEN,"Long Beach, California",2014-08-19,"Yantian,China (Mainland)",New,"YANTIAN,CHINA",NaN,...,OOLU1064780,1,498,P.O.NO.050803/050938/051058/051197/051345/051 ...,OOCL,1,2,8,8,1

In [8]:
list(df)

['identifier',
 'trade_update_date',
 'run_date',
 'vessel_name',
 'port_of_unlading',
 'estimated_arrival_date',
 'foreign_port_of_lading',
 'record_status_indicator',
 'place_of_receipt',
 'port_of_destination',
 'foreign_port_of_destination',
 'actual_arrival_date',
 'consignee_name',
 'shipper_party_name',
 'container_number',
 'description_sequence_number',
 'piece_count',
 'description_text',
 'carrier',
 'day_of_week_est',
 'day_of_week_act',
 'month_est',
 'month_act',
 'delay_days']

** Features **  
vessel_name  
carrier (from vessel name)  
port_of_unlading  
foreign_port_of_lading  
estimated_arrival_date: day_of_week_est  
estimated_arrival_date: month_est  
record_status_indicator (?)  
place_of_receipt  
place_of_receipt vs foreign_port_of_lading  
consignee_name (check number of consignees (buyers) )  
shipper_party_name (check number of shipper)  
container_number: count of containers per identifier  
description_sequence_number (?)  
piece_count (sum over all containers)  
description_text (?)  
  
*features that aren't in the data set but would have been helpful: intermediate ports and number of intermediate ports,  planned length of trip, planned shipping route*  
  
** Target **  
delay_days (actual_arrival_date - estimated_arrival_date)

In [9]:
len(df.identifier.unique())

3484891

In [10]:
df1 = df[['identifier','vessel_name','carrier','port_of_unlading','foreign_port_of_lading','day_of_week_est',
   'month_est','record_status_indicator','place_of_receipt','consignee_name','shipper_party_name',
   'container_number','description_sequence_number','piece_count','description_text','delay_days']]

In [18]:
df2 = df1[['identifier','container_number']].drop_duplicates()

In [19]:
df2.shape, df.shape

((5501913, 2), (8003697, 24))

In [20]:
#check duplicates - same identifier, same container number, same vessel name
df2 = df1[['identifier','container_number','vessel_name']].drop_duplicates()

In [21]:
df2.shape, df.shape

((5543353, 3), (8003697, 24))

In [28]:
#review the duplicates
df2_dup = df2[df2.duplicated(['identifier','container_number'],keep=False)].sort_values('identifier')
df2_dup.head(10)
#There are a lot of entries where the identifier and container_number are the same but the vessel_name is different,
#check the full record for the 2 identifiers listed below

         identifier container_number      vessel_name
3141789  2014081255      MSKU0769198  MAERSK DENPASAR
3141776  2014081255      FSCU4823916   HYUNDAI TACOMA
3141772  2014081255      FSCU4823916  MAERSK DENPASAR
3141793  2014081255      MSKU0769198   HYUNDAI TACOMA
3141805  2014081255      PONU8081880  MAERSK DENPASAR
3141809  2014081255      PONU8081880   HYUNDAI TACOMA
2274381  2014081262      TRLU8770860       OOCL ITALY
2274377  2014081262      TRLU8770860        NYK TERRA
2274361  2014081262      OOLU7704420        NYK TERRA
2274359  2014081262      OOLU7704420       OOCL ITALY

In [33]:
#check if all the duplicates have short identifiers
df2_dup.identifier.unique().tolist()
#They don't, some are long

[2014081255L,
 2014081262L,
 2014081263L,
 2014081265L,
 2014081268L,
 2014081286L,
 2014081292L,
 20140812101L,
 20140812102L,
 20140812112L,
 20140812114L,
 20140812115L,
 20140812116L,
 20140812118L,
 20140812127L,
 20140812130L,
 20140812131L,
 20140812134L,
 20140812138L,
 20140812153L,
 20140812158L,
 20140812161L,
 20140812177L,
 20140812178L,
 20140812185L,
 20140812189L,
 20140812191L,
 20140812192L,
 20140812193L,
 20140812194L,
 20140812202L,
 20140812212L,
 20140812216L,
 20140812217L,
 20140812223L,
 20140812227L,
 20140812237L,
 20140812239L,
 20140812244L,
 20140812247L,
 20140812259L,
 20140812264L,
 20140812284L,
 20140812286L,
 20140812290L,
 20140812293L,
 20140812299L,
 20140812300L,
 20140812313L,
 20140812317L,
 20140812325L,
 20140812328L,
 20140812330L,
 20140812343L,
 20140812357L,
 20140812391L,
 20140812396L,
 20140812400L,
 20140812401L,
 20140812402L,
 20140812404L,
 20140812410L,
 20140812418L,
 20140812424L,
 20140812427L,
 20140812428L,
 20140812444L,
 20140812446L,
 20140812473L,
 20140812478L,
 20140812487L,
 20140812488L,
 20140812492L,
 20140812493L,
 20140812495L,
 20140812497L,
 20140812501L,
 20140812507L,
 20140812547L,
 20140812548L,
 20140812560L,
 20140812580L,
 20140812582L,
 20140812583L,
 20140812585L,
 20140812590L,
 20140812594L,
 20140812657L,
 20140812671L,
 20140812693L,
 20140812726L,
 20140812739L,
 20140812743L,
 20140812744L,
 20140812753L,
 20140812764L,
 20140812787L,
 20140812791L,
 20140812793L,
 20140812794L,
 20140812797L,
 20140812803L,
 20140812804L,
 20140812819L,
 20140812822L,
 20140812869L,
 20140812876L,
 20140812885L,
 20140812886L,
 20140812893L,
 20140812910L,
 20140812912L,
 20140812916L,
 20140812937L,
 20140812998L,
 201408121051L,
 201408121052L,
 201408121078L,
 201408121081L,
 201408121084L,
 201408121113L,
 201408121114L,
 201408121124L,
 201408121125L,
 201408121126L,
 201408121132L,
 201408121138L,
 201408121139L,
 201408121140L,
 201408121141L,
 201408121142L,
 201408121143L,
 201408121149L,
 201408121150L,
 201408121152L,
 201408121205L,
 201408121210L,
 201408121211L,
 201408121273L,
 201408121299L,
 201408121308L,
 201408121312L,
 201408121379L,
 201408121453L,
 201408121468L,
 201408121480L,
 201408121489L,
 201408121515L,
 201408121528L,
 201408121530L,
 201408121535L,
 201408121541L,
 201408121599L,
 201408121629L,
 201408121667L,
 201408121679L,
 201408121687L,
 201408121690L,
 201408121709L,
 201408121710L,
 201408121712L,
 201408121720L,
 201408121722L,
 201408121730L,
 201408121743L,
 201408121745L,
 201408121748L,
 201408121827L,
 201408121829L,
 201408121830L,
 201408121896L,
 201408121897L,
 201408121938L,
 201408121942L,
 201408121943L,
 201408121952L,
 201408121959L,
 201408121968L,
 201408122027L,
 201408122040L,
 201408122041L,
 201408122042L,
 201408122068L,
 201408122097L,
 201408122100L,
 201408122105L,
 201408122112L,
 201408122113L,
 201408122114L,
 201408122115L,
 201408122124L,
 201408122147L,
 201408122270L,
 201408122311L,
 201408122340L,
 201408122341L,
 201408122368L,
 201408122375L,
 201408122383L,
 201408122394L,
 201408122395L,
 201408122396L,
 201408122397L,
 201408122433L,
 201408122438L,
 201408122488L,
 201408122496L,
 201408122504L,
 201408122505L,
 201408122506L,
 201408122514L,
 201408122541L,
 201408122546L,
 201408122548L,
 201408122549L,
 201408122553L,
 201408122574L,
 201408122597L,
 201408122601L,
 201408122605L,
 201408122640L,
 201408122652L,
 201408122742L,
 201408122758L,
 201408122765L,
 201408122841L,
 201408122854L,
 201408122856L,
 201408122944L,
 201408122985L,
 201408123034L,
 201408123040L,
 201408123056L,
 201408123060L,
 201408123063L,
 201408123064L,
 201408123066L,
 201408123067L,
 201408123073L,
 201408123081L,
 201408123102L,
 201408123103L,
 201408123158L,
 201408123168L,
 201408123172L,
 201408123189L,
 201408123196L,
 201408123197L,
 201408123199L,
 201408123269L,
 201408123291L,
 201408123355L,
 201408123364L,
 201408123396L,
 201408123399L,
 201408123410L,
 201408123411L,
 201408123427L,
 201408123429L,
 201408123431L,
 201408123434L,
 201408123440L,
 201408123455L,
 201408123460L,
 201408123463L,
 201408123495L,
 201408123497L,
 201408123519L,
 201408123528L,
 201408123531L,
 201408123536L,
 201408123537L,
 201408123543L,
 201408123544L,
 201408123545L,
 201408123546L,
 201408123552L,
 201408123563L,
 201408123580L,
 201408123584L,
 201408123585L,
 201408123592L,
 201408123593L,
 201408123597L,
 201408123601L,
 201408123606L,
 201408123617L,
 201408123639L,
 201408123645L,
 201408123646L,
 201408123700L,
 201408123701L,
 201408123763L,
 201408123777L,
 201408123782L,
 201408123783L,
 201408123785L,
 201408123787L,
 201408123795L,
 201408123819L,
 201408123845L,
 201408123866L,
 201408123879L,
 201408123905L,
 201408123995L,
 201408124002L,
 201408124016L,
 201408124017L,
 201408124055L,
 201408124064L,
 201408124070L,
 201408124075L,
 201408124095L,
 201408124100L,
 201408124113L,
 201408124119L,
 201408124158L,
 201408124169L,
 201408124172L,
 201408124180L,
 201408124224L,
 201408124226L,
 201408124227L,
 201408124230L,
 201408124254L,
 201408124258L,
 201408124294L,
 201408124333L,
 201408124354L,
 201408124366L,
 201408124375L,
 201408124380L,
 201408124397L,
 201408124434L,
 201408124439L,
 201408124440L,
 201408124504L,
 201408124537L,
 201408124545L,
 201408124551L,
 201408124584L,
 201408124708L,
 201408124714L,
 201408124730L,
 201408124745L,
 201408124748L,
 201408124750L,
 201408124754L,
 201408124757L,
 201408124758L,
 201408124762L,
 201408124765L,
 201408124767L,
 201408124769L,
 201408124799L,
 201408124818L,
 201408124824L,
 201408124825L,
 201408124834L,
 201408124916L,
 201408124918L,
 201408124928L,
 201408124929L,
 201408124933L,
 201408124961L,
 201408124975L,
 201408124980L,
 201408125010L,
 201408125013L,
 201408125018L,
 201408125020L,
 201408125037L,
 201408125104L,
 201408125138L,
 201408125144L,
 201408125148L,
 201408125178L,
 201408125185L,
 201408125194L,
 201408125209L,
 201408125229L,
 201408125245L,
 201408125252L,
 201408125253L,
 201408125257L,
 201408125262L,
 201408125297L,
 201408125298L,
 201408125343L,
 201408125344L,
 201408125346L,
 201408125347L,
 201408125348L,
 201408125370L,
 201408125372L,
 201408125378L,
 201408125380L,
 201408125404L,
 201408125462L,
 201408125478L,
 201408125489L,
 201408125491L,
 201408125504L,
 201408125507L,
 201408125510L,
 201408125523L,
 201408125530L,
 201408125535L,
 201408125540L,
 201408125579L,
 201408125580L,
 201408125593L,
 201408125595L,
 201408125608L,
 201408125610L,
 201408125622L,
 201408125660L,
 201408125667L,
 201408125677L,
 201408125685L,
 201408125691L,
 201408125695L,
 201408125709L,
 201408125714L,
 201408125717L,
 201408125720L,
 201408125723L,
 201408125728L,
 201408125729L,
 201408125735L,
 201408125738L,
 201408125741L,
 201408125745L,
 201408125841L,
 201408125846L,
 201408125847L,
 201408125849L,
 201408125850L,
 201408125852L,
 201408125863L,
 201408125867L,
 201408125868L,
 201408125869L,
 201408125872L,
 201408125878L,
 201408125885L,
 201408125887L,
 201408125896L,
 201408125901L,
 201408125909L,
 201408125911L,
 201408125913L,
 201408125931L,
 201408125951L,
 201408125961L,
 201408126020L,
 201408126021L,
 201408126045L,
 201408126050L,
 201408126055L,
 201408126058L,
 201408126062L,
 201408126064L,
 201408126066L,
 201408126069L,
 201408126070L,
 201408126072L,
 201408126073L,
 201408126080L,
 201408126081L,
 201408126082L,
 201408126086L,
 201408126094L,
 201408126098L,
 201408126100L,
 201408126104L,
 201408126132L,
 201408126159L,
 201408126215L,
 201408126216L,
 201408126217L,
 201408126245L,
 201408126277L,
 201408126282L,
 201408126320L,
 201408126401L,
 201408126409L,
 201408126411L,
 201408126414L,
 201408126421L,
 201408126453L,
 201408126468L,
 201408126471L,
 201408126605L,
 201408126608L,
 201408126609L,
 201408126624L,
 201408126625L,
 201408126632L,
 201408126636L,
 201408126642L,
 201408126644L,
 201408126647L,
 201408126652L,
 201408126653L,
 201408126676L,
 201408126677L,
 201408126678L,
 201408126689L,
 201408126761L,
 201408126799L,
 201408126836L,
 201408126854L,
 201408126920L,
 201408126925L,
 201408126932L,
 201408126934L,
 201408126979L,
 201408126982L,
 201408127046L,
 201408127052L,
 201408127053L,
 201408127054L,
 201408127070L,
 201408127075L,
 201408127079L,
 201408127084L,
 201408127180L,
 201408127181L,
 201408127183L,
 201408127194L,
 201408127197L,
 201408127280L,
 201408127282L,
 201408127295L,
 201408127297L,
 201408127298L,
 201408127317L,
 201408127318L,
 201408127319L,
 201408127322L,
 201408127331L,
 201408127339L,
 201408127389L,
 201408127477L,
 201408127487L,
 201408127488L,
 201408127489L,
 201408127490L,
 201408127495L,
 201408127501L,
 201408127573L,
 201408127577L,
 201408127578L,
 201408127583L,
 201408127589L,
 201408127594L,
 201408127600L,
 201408127602L,
 201408127604L,
 201408127611L,
 201408127632L,
 201408127651L,
 201408127683L,
 201408127685L,
 201408127687L,
 201408127698L,
 201408127699L,
 201408127700L,
 201408127708L,
 201408127710L,
 201408127716L,
 201408127724L,
 201408127725L,
 201408127743L,
 201408127775L,
 201408127782L,
 201408127784L,
 201408127792L,
 201408127823L,
 201408127837L,
 201408127864L,
 201408127889L,
 201408127893L,
 201408127907L,
 201408127916L,
 201408127917L,
 201408127919L,
 201408127924L,
 201408127959L,
 201408127977L,
 201408127978L,
 201408128009L,
 201408128011L,
 201408128014L,
 201408128021L,
 201408128022L,
 201408128077L,
 201408128095L,
 201408128101L,
 201408128183L,
 201408128250L,
 201408128253L,
 201408128261L,
 201408128310L,
 201408128311L,
 201408128317L,
 201408128326L,
 201408128329L,
 201408128339L,
 201408128341L,
 201408128342L,
 201408128346L,
 201408128347L,
 201408128351L,
 201408128354L,
 201408128360L,
 201408128380L,
 201408128383L,
 201408128426L,
 201408128524L,
 201408128528L,
 201408128531L,
 201408128534L,
 201408128567L,
 201408128578L,
 201408128599L,
 201408128603L,
 201408128611L,
 201408128620L,
 201408128621L,
 201408128681L,
 201408128689L,
 201408128692L,
 201408128693L,
 201408128698L,
 201408128701L,
 201408128704L,
 201408128707L,
 201408128718L,
 201408128719L,
 201408128741L,
 201408128742L,
 201408128752L,
 201408128754L,
 201408128768L,
 201408128769L,
 201408128770L,
 201408128772L,
 201408128776L,
 201408128797L,
 201408128798L,
 201408128803L,
 201408128824L,
 201408128838L,
 201408128846L,
 201408128852L,
 201408128853L,
 201408128856L,
 201408128857L,
 201408128863L,
 201408128868L,
 201408128874L,
 201408128875L,
 201408128876L,
 201408128881L,
 201408128893L,
 201408128900L,
 201408128902L,
 201408128908L,
 201408128909L,
 201408128913L,
 201408128919L,
 201408128927L,
 201408128935L,
 201408128936L,
 201408128938L,
 201408128947L,
 201408128953L,
 201408128954L,
 201408128957L,
 201408128959L,
 201408128960L,
 201408128984L,
 201408128989L,
 201408128990L,
 201408128997L,
 201408128998L,
 201408129005L,
 201408129007L,
 201408129008L,
 201408129010L,
 201408129034L,
 201408129036L,
 201408129041L,
 201408129064L,
 201408129075L,
 201408129093L,
 201408129098L,
 201408129099L,
 201408129110L,
 201408129114L,
 201408129116L,
 201408129121L,
 201408129127L,
 201408129132L,
 201408129134L,
 201408129141L,
 201408129144L,
 201408129155L,
 201408129156L,
 201408129165L,
 201408129167L,
 201408129170L,
 201408129180L,
 201408129189L,
 201408129192L,
 201408129201L,
 201408129225L,
 201408129226L,
 201408129234L,
 201408129235L,
 201408129248L,
 201408129282L,
 201408129284L,
 201408129300L,
 201408129303L,
 201408129306L,
 201408129321L,
 201408129325L,
 201408129326L,
 201408129327L,
 201408129329L,
 201408129338L,
 201408129343L,
 201408129388L,
 201408129393L,
 201408129400L,
 201408129425L,
 201408129433L,
 201408129447L,
 201408129496L,
 201408129510L,
 201408129511L,
 201408129522L,
 201408129572L,
 201408129577L,
 201408129585L,
 201408129608L,
 201408129614L,
 201408129615L,
 201408129616L,
 201408129745L,
 201408129759L,
 201408129760L,
 201408129774L,
 201408129786L,
 201408129791L,
 201408129818L,
 201408129819L,
 201408129820L,
 201408129822L,
 201408129828L,
 201408129829L,
 201408129834L,
 201408129855L,
 201408129859L,
 201408129868L,
 201408129870L,
 201408129876L,
 201408129888L,
 201408129893L,
 201408129903L,
 201408129918L,
 2014081210033L,
 2014081210053L,
 2014081210196L,
 2014081210204L,
 2014081210219L,
 2014081210227L,
 2014081210240L,
 2014081210248L,
 2014081210249L,
 2014081210262L,
 2014081210270L,
 2014081210273L,
 2014081210275L,
 2014081210276L,
 2014081210278L,
 2014081210296L,
 2014081210298L,
 2014081210314L,
 2014081210326L,
 2014081210328L,
 2014081210329L,
 2014081210332L,
 2014081210334L,
 2014081210335L,
 2014081210342L,
 2014081210344L,
 2014081210356L,
 2014081210359L,
 2014081210365L,
 2014081210369L,
 2014081210432L,
 2014081210433L,
 2014081210461L,
 2014081210465L,
 2014081210478L,
 2014081210491L,
 2014081210493L,
 2014081210497L,
 2014081210526L,
 2014081210560L,
 2014081210596L,
 2014081210640L,
 2014081210647L,
 2014081210649L,
 2014081210652L,
 2014081210658L,
 2014081210667L,
 2014081210669L,
 2014081210677L,
 2014081210679L,
 2014081210680L,
 2014081210681L,
 2014081210682L,
 2014081210684L,
 2014081210685L,
 2014081210688L,
 2014081210690L,
 2014081210691L,
 2014081210698L,
 2014081210701L,
 2014081210708L,
 2014081210724L,
 2014081210725L,
 2014081210747L,
 2014081210748L,
 2014081210753L,
 2014081210771L,
 2014081210775L,
 2014081210778L,
 2014081210783L,
 2014081210810L,
 2014081210814L,
 2014081210822L,
 2014081210825L,
 2014081210835L,
 2014081210860L,
 2014081210913L,
 2014081210915L,
 2014081210916L,
 2014081210917L,
 2014081210918L,
 2014081210924L,
 2014081210925L,
 2014081210926L,
 2014081210928L,
 2014081210950L,
 2014081210977L,
 2014081210978L,
 2014081210984L,
 2014081210994L,
 2014081210996L,
 2014081211008L,
 2014081211012L,
 2014081211013L,
 2014081211019L,
 2014081211029L,
 2014081211033L,
 2014081211034L,
 2014081211037L,
 2014081211045L,
 2014081211072L,
 2014081211077L,
 2014081211079L,
 2014081211080L,
 2014081211136L,
 2014081211139L,
 2014081211147L,
 2014081211152L,
 2014081211182L,
 2014081211184L,
 2014081211185L,
 2014081211203L,
 2014081211217L,
 2014081211220L,
 2014081211255L,
 2014081211318L,
 2014081211325L,
 2014081211326L,
 2014081211329L,
 2014081211347L,
 2014081211351L,
 2014081211352L,
 2014081211363L,
 2014081211365L,
 2014081211366L,
 2014081211374L,
 2014081211411L,
 2014081211413L,
 2014081211453L,
 2014081211463L,
 2014081211464L,
 2014081211494L,
 2014081211518L,
 2014081211521L,
 2014081211522L,
 2014081211527L,
 2014081211533L,
 2014081211704L,
 2014081211705L,
 2014081211842L,
 2014081211845L,
 2014081211846L,
 2014081211855L,
 2014081211856L,
 2014081211867L,
 2014081211878L,
 2014081211890L,
 2014081211894L,
 2014081211896L,
 2014081211900L,
 2014081211904L,
 2014081211906L,
 2014081211911L,
 2014081211922L,
 2014081211929L,
 2014081211937L,
 2014081211939L,
 2014081211957L,
 2014081212088L,
 2014081212090L,
 2014081212096L,
 2014081212105L,
 2014081212109L,
 2014081212110L,
 2014081212120L,
 2014081212121L,
 2014081212129L,
 2014081212132L,
 2014081212142L,
 2014081212151L,
 2014081212156L,
 2014081212157L,
 2014081212160L,
 2014081212163L,
 2014081212166L,
 2014081212170L,
 2014081212177L,
 2014081212180L,
 2014081212184L,
 2014081212196L,
 2014081212198L,
 2014081212199L,
 2014081212214L,
 2014081212216L,
 2014081212231L,
 2014081212233L,
 2014081212234L,
 2014081212235L,
 2014081212236L,
 2014081212237L,
 2014081212238L,
 2014081212240L,
 2014081212262L,
 2014081212263L,
 2014081212265L,
 2014081212272L,
 2014081212281L,
 2014081212284L,
 2014081212285L,
 2014081212293L,
 2014081212300L,
 2014081212302L,
 2014081212306L,
 2014081212322L,
 2014081212340L,
 2014081212362L,
 2014081212364L,
 2014081212369L,
 2014081212382L,
 2014081212388L,
 2014081212389L,
 2014081212393L,
 2014081212399L,
 2014081212409L,
 2014081212410L,
 2014081212417L,
 2014081212420L,
 2014081212421L,
 2014081212425L,
 2014081212431L,
 2014081212432L,
 2014081212437L,
 2014081212442L,
 2014081212447L,
 2014081212452L,
 2014081212453L,
 ...]

In [31]:
#check records
df.iloc[:,:-5][df.identifier.isin([2014081262])]
#The ID is not unique and appears to be re-used.

,identifier,trade_update_date,run_date,vessel_name,port_of_unlading,estimated_arrival_date,foreign_port_of_lading,record_status_indicator,place_of_receipt,port_of_destination,foreign_port_of_destination,actual_arrival_date,consignee_name,shipper_party_name,container_number,description_sequence_number,piece_count,description_text,carrier
2274359,2014081262,2014-02-21,2014-08-12,OOCL ITALY,"Los Angeles, California",2013-11-25,"Shanghai ,China (Mainland)",Amended,SHANGHAI,NaN,NaN,2013-11-25,NORTHDOWN INDUSTRIES,"MILOTEX (HANGZHOU)CO.,LTD",OOLU7704420,1,1200,"SILICA GEL CAT LITTER PO18542422 ""SHIPMENT C """,OOCL
2274361,2014081262,2013-11-05,2014-08-12,NYK TERRA,"Los Angeles, California",2014-03-16,"Tsingtao,China (Mainland)",Amended,"QINGDAO, CHINA",NaN,NaN,2014-03-19,"HELMET HOUSE, INC.",QINGDAO FRANK FINE CHEMICAL INDUSTR,OOLU7704420,1,1200,"SILICA GEL CAT LITTER PO18542422 ""SHIPMENT C """,NYK
2274362,2014081262,2013-11-05,2014-08-12,NYK TERRA,"Los Angeles, California",2014-03-16,"Tsingtao,China (Mainland)",Amended,"QINGDAO, CHINA",NaN,NaN,2014-03-19,NORTHDOWN INDUSTRIES,QINGDAO FRANK FINE CHEMICAL INDUSTR,OOLU7704420,1,1200,"SILICA GEL CAT LITTER PO18542422 ""SHIPMENT C """,NYK
2274363,2014081262,2014-02-21,2014-08-12,NYK TERRA,"Los Angeles, California",2014-03-16,"Tsingtao,China (Mainland)",Amended,"QINGDAO, CHINA",NaN,NaN,2014-03-19,"HELMET HOUSE, INC.",QINGDAO FRANK FINE CHEMICAL INDUSTR,OOLU7704420,1,1200,"SILICA GEL CAT LITTER PO18542422 ""SHIPMENT C """,NYK
2274364,2014081262,2014-02-21,2014-08-12,NYK TERRA,"Los Angeles, California",2014-03-16,"Tsingtao,China (Mainland)",Amended,"QINGDAO, CHINA",NaN,NaN,2014-03-19,NORTHDOWN INDUSTRIES,QINGDAO FRANK FINE CHEMICAL INDUSTR,OOLU7704420,1,1200,"SILICA GEL CAT LITTER PO18542422 ""SHIPMENT C """,NYK
2274365,2014081262,2013-11-05,2014-08-12,OOCL ITALY,"Los Angeles, California",2013-11-25,"Shanghai ,China (Mainland)",Amended,SHANGHAI,NaN,NaN,2013-11-25,"HELMET HOUSE, INC.",QINGDAO FRANK FINE CHEMICAL INDUSTR,OOLU7704420,1,1200,"SILICA GEL CAT LITTER PO18542422 ""SHIPMENT C """,OOCL
2274366,2014081262,2013-11-05,2014-08-12,OOCL ITALY,"Los Angeles, California",2013-11-25,"Shanghai ,China (Mainland)",Amended,SHANGHAI,NaN,NaN,2013-11-25,NORTHDOWN INDUSTRIES,QINGDAO FRANK FINE CHEMICAL INDUSTR,OOLU7704420,1,1200,"SILICA GEL CAT LITTER PO18542422 ""SHIPMENT C """,OOCL
2274367,2014081262,2014-02-21,2014-08-12,OOCL ITALY,"Los Angeles, California",2013-11-25,"Shanghai ,China (Mainland)",Amended,SHANGHAI,NaN,NaN,2013-11-25,"HELMET HOUSE, INC.",QINGDAO FRANK FINE CHEMICAL INDUSTR,OOLU7704420,1,1200,"SILICA GEL CAT LITTER PO18542422 ""SHIPMENT C """,OOCL
2274368,2014081262,2014-02-21,2014-08-12,OOCL ITALY,"Los Angeles, California",2013-11-25,"Shanghai ,China (Mainland)",Amended,SHANGHAI,NaN,NaN,2013-11-25,NORTHDOWN INDUSTRIES,QINGDAO FRANK FINE CHEMICAL INDUSTR,OOLU7704420,1,1200,"SILICA GEL CAT LITTER PO18542422 ""SHIPMENT C """,OOCL
2274369,2014081262,2013-11-05,2014-08-12,NYK TERRA,"Los Angeles, California",2014-03-16,"Tsingtao,China (Mainland)",Amended,"QINGDAO, CHINA",NaN,NaN,2014-03-19,"HELMET HOUSE, INC.","MILOTEX (HANGZHOU)CO.,LTD",OOLU7704420,1,1200,"SILICA GEL CAT LITTER PO18542422 ""SHIPMENT C """,NYK
2274370,2014081262,2013-11-05,2014-08-12,NYK TERRA,"Los Angeles, California",2014-03-16,"Tsingtao,China (Mainland)",Amended,"QINGDAO, CHINA",NaN,NaN,2014-03-19,NORTHDOWN INDUSTRIES,"MILOTEX (HANGZHOU)CO.,LTD",OOLU7704420,1,1200,"SILICA GEL CAT LITTER PO18542422 ""SHIPMENT C """,NYK
2274371,2014081262,2014-02-21,2014-08-12,NYK TERRA,"Los Angeles, California",2014-03-16,"Tsingtao,China (Mainland)",Amended,"QINGDAO, CHINA",NaN,NaN,2014-03-19,"HELMET HOUSE, INC.","MILOTEX (HANGZHOU)CO.,LTD",OOLU7704420,1,1200,"SILICA GEL CAT LITTER PO18542422 ""SHIPMENT C """,NYK
2274372,2014081262,2014-02-21,2014-08-12,NYK TERRA,"Los Angeles, California",2014-03-16,"Tsingtao,China (Mainland)",Amended,"QINGDAO, CHINA",NaN,NaN,2014-03-19,NORTHDOWN INDUSTRIES,"MILOTEX (HANGZHOU)CO.,LTD",OOLU7704420,1,1200,"SILICA GEL CAT LITTER PO18542422 ""SHIPMENT C """,NYK
2274373,2014081262,2013-11-05,2014-08-12,OOCL ITALY,"Los Angeles, California",2013-11-25,"Shanghai ,China (Mainland)",Amended,SHANGHAI,NaN,NaN,2013-11-25,"HELMET HOUSE, INC.","MILOTEX (HANGZHOU)CO.,LTD",OOLU7704420,1,1200,"SILICA GEL CAT LITTER PO18542422 ""SHIPMENT C """,OOCL
2274374,2014081262,2013-11-05,2014-08-12,OOCL ITALY,"Los Angeles, California",2013-11-25,"Shanghai ,China (Mainland)",Amended,SHANGHAI,NaN,NaN,2013-11-25,NORTHDOWN INDUSTRIES,"MILOTEX (HANGZHOU)CO.,LTD",OOLU7704420,1,1200,"SILICA GEL CAT LITTER PO18542422 ""SHIPMENT C """,OOCL
2274375,2014081262,2014-02-21,2014-08-12,OOCL ITALY,"Los Angeles, California",2013-11-25,"Shanghai ,China (Mainland)",Amended,SHANGHAI,NaN,NaN,2013-11-25,"HELMET HOUSE, INC.","MILOTEX (HANGZHOU)CO.,LTD",OOLU7704420,1,1200,"SILICA GEL CAT LITTER PO18542422 ""SHIPMENT C """,OOCL
2274377,2014081262,2013-11-05,2014-08-12,NYK TERRA,"Los Angeles, California",2014-03-16,"Tsingtao,China (Mainland)",Amended,"QINGDAO, CHINA",NaN,NaN,2014-03-19,"HELMET HOUSE, INC.",QINGDAO FRANK FINE CHEMICAL INDUSTR,TRLU8770860,1,386,100% POLYESTER WOVEN GLOVES,NYK
2274378,2014081262,2013-11-05,2014-08-12,NYK TERRA,"Los Angeles, California",2014-03-16,"Tsingtao,China (Mainland)",Amended,"QINGDAO, CHINA",NaN,NaN,2014-03-19,NORTHDOWN INDUSTRIES,QINGDAO FRANK FINE CHEMICAL INDUSTR,TRLU8770860,1,386,100% POLYESTER WOVEN GLOVES,NYK
2274379,2014081262,2014-02-21,2014-08-12,NYK TERRA,"Los Angeles, California",2014-03-16,"Tsingtao,China (Mainland)",Amended,"QINGDAO, CHINA",NaN,NaN,2014-03-19,"HELMET HOUSE, INC.",QINGDAO FRANK FINE CHEMICAL INDUSTR,TRLU8770860,1,386,100% POLYESTER WOVEN GLOVES,NYK
2274380,2014081262,2014-02-21,2014-08-12,NYK TERRA,"Los Angeles, California",2014-03-16,"Tsingtao,China (Mainland)",Amended,"QINGDAO, CHINA",NaN,NaN,2014-03-19,NORTHDOWN INDUSTRIES,QINGDAO FRANK FINE CHEMICAL INDUSTR,TRLU8770860,1,386,100% POLYESTER WOVEN GLOVES,NYK
2274381,2014081262,2013-11-05,2014-08-12,OOCL ITALY,"Los Angeles, California",2013-11-25,"Shanghai ,China (Mainland)",Amended,SHANGHAI,NaN,NaN,2013-11-25,"HELMET HOUSE, INC.",QINGDAO FRANK FINE CHEMICAL INDUSTR,TRLU8770860,1,386,100% POLYESTER WOVEN GLOVES,OOCL
2274382,2014081262,2013-11-05,2014-08-12,OOCL ITALY,"Los Angeles, California",2013-11-25,"Shanghai ,China (Mainland)",Amended,SHANGHAI,NaN,NaN,2013-11-25,NORTHDOWN INDUSTRIES,QINGDAO FRANK FINE CHEMICAL INDUSTR,TRLU8770860,1,386,100% POLYESTER WOVEN GLOVES,OOCL
2274383,2014081262,2014-02-21,2014-08-12,OOCL ITALY,"Los Angeles, California",2013-11-25,"Shanghai ,China (Mainland)",Amended,SHANGHAI,NaN,NaN,2013-11-25,"HELMET HOUSE, INC.",QINGDAO FRANK FINE CHEMICAL INDUSTR,TRLU8770860,1,386,100% POLYESTER WOVEN GLOVES,OOCL
2274384,2014081262,2014-02-21,2014-08-12,OOCL ITALY,"Los Angeles, California",2013-11-25,"Shanghai ,China (Mainland)",Amended,SHANGHAI,NaN,NaN,2013-11-25,NORTHDOWN INDUSTRIES,QINGDAO FRANK FINE CHEMICAL INDUSTR,TRLU8770860,1,386,100% POLYESTER WOVEN GLOVES,OOCL
2274385,2014081262,2013-11-05,2014-08-12,NYK TERRA,"Los Angeles, California",2014-03-16,"Tsingtao,China (Mainland)",Amended,"QINGDAO, CHINA",NaN,NaN,2014-03-19,"HELMET HOUSE, INC.","MILOTEX (HANGZHOU)CO.,LTD",TRLU8770860,1,386,100% POLYESTER WOVEN GLOVES,NYK
2274386,2014081262,2013-11-05,2014-08-12,NYK TERRA,"Los Angeles, California",2014-03-16,"Tsingtao,China (Mainland)",Amended,"QINGDAO, CHINA",NaN,NaN,2014-03-19,NORTHDOWN INDUSTRIES,"MILOTEX (HANGZHOU)CO.,LTD",TRLU8770860,1,386,100% POLYESTER WOVEN GLOVES,NYK
2274387,2014081262,2014-02-21,2014-08-12,NYK TERRA,"Los Angeles, California",2014-03-16,"Tsingtao,China (Mainland)",Amended,"QINGDAO, CHINA",NaN,NaN,2014-03-19,"HELMET HOUSE, INC.","MILOTEX (HANGZHOU)CO.,LTD",TRLU8770860,1,386,100% POLYESTER WOVEN GLOVES,NYK
2274388,2014081262,2014-02-21,2014-08-12,NYK TERRA,"Los Angeles, California",2014-03-16,"Tsingtao,China (Mainland)",Amended,"QINGDAO, CHINA",NaN,NaN,2014-03-19,NORTHDOWN INDUSTRIES,"MILOTEX (HANGZHOU)CO.,LTD",TRLU8770860,1,386,100% POLYESTER WOVEN GLOVES,NYK
2274389,2014081262,2013-11-05,2014-08-12,OOCL ITALY,"Los Angeles, California",2013-11-25,"Shanghai ,China (Mainland)",Amended,SHANGHAI,NaN,NaN,2013-11-25,"HELMET HOUSE, INC.","MILOTEX (HANGZHOU)CO.,LTD",TRLU8770860,1,386,100% POLYESTER WOVEN GLOVES,OOCL
2274390,2014081262,2013-11-05,2014-08-12,OOCL ITALY,"Los Angeles, California",2013-11-25,"Shanghai ,China (Mainland)",Amended,SHANGHAI,NaN,NaN,2013-11-25,NORTHDOWN INDUSTRIES,"MILOTEX (HANGZHOU)CO.,LTD",TRLU8770860,1,386,100% POLYESTER WOVEN GLOVES,OOCL
2274391,2014081262,2014-02-21,2014-08-12,OOCL ITALY,"Los Angeles, California",2013-11-25,"Shanghai ,China (Mainland)",Amended,SHANGHAI,NaN,NaN,2013-11-25,"HELMET HOUSE, INC.","MILOTEX (HANGZHOU)CO.,LTD",TRLU8770860,1,386,100% POLYESTER WOVEN GLOVES,OOCL
2274392,2014081262,2014-02-21,2014-08-12,OOCL ITALY,"Los Angeles, California",2013-11-25,"Shanghai ,China (Mainland)",Amended,SHANGHAI,NaN,NaN,2013-11-25,NORTHDOWN INDUSTRIES,"MILOTEX (HANGZHOU)CO.,LTD",TRLU8770860,1,386,100% POLYESTER WOVEN GLOVES,OOCL

Identifier 2014081262 contains information for the same container for two completely different set of dates,
on different vessels.    
1- The run_date is the same for all, but the trade_update_date, estimated and actual arrival dates are different for the two sets  
2 - there are multiple shippers

Conclusion: to get unique ship information use: vessel_name and actual_arrival_date

In [35]:
#check vessel_name and actual_arrival_date unique values 
#then add ports and estimated arrival dates in and check that the number of unique observations doen't change
df3 = df[['vessel_name','actual_arrival_date']].drop_duplicates()
df3.shape

(29846, 2)

In [43]:
#look at vessel, arrival data, and port of lading and unlading
df4 = df[['vessel_name','actual_arrival_date','foreign_port_of_lading','port_of_unlading']].drop_duplicates()
df4.shape
#why do adding ports increase the number of observations? 
#how can the same vessel arrive on the same date to and from different ports?
#It can if the same ship has multiple stops, and different containers are loaded at different points
        #How much information does this provide about intermediate stops...
        #Cargo that was loaded at a non-US port and then unloaded at another non-US port would not have any record
        #AMS system, so this wouldn't necessarily provide all stops

(99944, 4)

In [46]:
#look at the duplicate values
df4[df4.duplicated(['vessel_name','actual_arrival_date'], keep = False)].sort_values(
    ['vessel_name','actual_arrival_date']).head(10)

,vessel_name,actual_arrival_date,foreign_port_of_lading,port_of_unlading
736360,9077276,2014-04-01,"Yokohama,Japan","Los Angeles, California"
9178662,9077276,2014-04-01,"Tokyo ,Japan","Los Angeles, California"
496002,9143037,2014-06-02,"Singapore,Singapore","Seattle, Washington"
4498700,9143037,2014-06-02,"Yokohama,Japan","Los Angeles, California"
1925337,9200691,2014-06-03,"Thanh Pho Ho Chi Minh,Vietnam","Long Beach, California"
3655666,9200691,2014-06-03,"Port Swettenham,Malaysia","Long Beach, California"
1218462,9243186,2014-11-26,"Southhampton,United Kingdom","Houston, Texas"
10233585,9243186,2014-11-26,"Anvers,Belgium","Houston, Texas"
5950209,9243203,2014-01-15,"Southhampton,United Kingdom","Houston, Texas"
6519166,9243203,2014-01-15,"Bremerhaven,Federal Republic of Germany","Houston, Texas"

In [53]:
#Look at observations for these vessel and arrival data combos
df[(df.vessel_name == '9077276') & (df.actual_arrival_date == '2014-04-01')].iloc[:,:-5].sort_values('actual_arrival_date')

,identifier,trade_update_date,run_date,vessel_name,port_of_unlading,estimated_arrival_date,foreign_port_of_lading,record_status_indicator,place_of_receipt,port_of_destination,foreign_port_of_destination,actual_arrival_date,consignee_name,shipper_party_name,container_number,description_sequence_number,piece_count,description_text,carrier
736360,2014040245893,2014-03-19,2014-04-02,9077276,"Los Angeles, California",2014-03-21,"Yokohama,Japan",New,YOKOHAMA,NaN,NaN,2014-04-01,"TOYO DENKI USA, INC",TOYO DENKI SEIZO K.K.,TEMU9194833,1,1,PROPULSION INVERTER PARTS HS CODE: 8535.90,9077276
4456318,2014040245889,2014-03-19,2014-04-02,9077276,"Los Angeles, California",2014-03-21,"Yokohama,Japan",New,YOKOHAMA,NaN,NaN,2014-04-01,DENGENSHA AMERICA CORP.,"DENGENSHA MFG. CO., LTD.",TEMU9194833,1,3,WELDER HS CODE: 8515.21,9077276
7739254,2014040245892,2014-03-19,2014-04-02,9077276,"Los Angeles, California",2014-03-21,"Yokohama,Japan",New,YOKOHAMA,NaN,NaN,2014-04-01,NaN,NaN,TEMU9194833,1,154,AUTO SPARE PARTS DISK BRAKE PAD HS CODE: 6813.81,9077276
9178662,2014040245882,2014-03-19,2014-04-02,9077276,"Los Angeles, California",2014-03-21,"Tokyo ,Japan",New,TOKYO,NaN,NaN,2014-04-01,HOFFMAN BROTHERS,"SEIKO SEWING MACHINE CO., LTD.",MORU1300102,1,1,"""SEIKO"" BRAND INDUSTRIAL SEWING MACHINE HS COD...",9077276

In [51]:
#Look at observations for these vessel and arrival data combos
df[(df.vessel_name == '9243186') & (df.actual_arrival_date == '2014-11-26')].iloc[:,:-5].sort_values('actual_arrival_date')

,identifier,trade_update_date,run_date,vessel_name,port_of_unlading,estimated_arrival_date,foreign_port_of_lading,record_status_indicator,place_of_receipt,port_of_destination,foreign_port_of_destination,actual_arrival_date,consignee_name,shipper_party_name,container_number,description_sequence_number,piece_count,description_text,carrier
1218462,2014112745388,2014-11-07,2014-11-27,9243186,"Houston, Texas",2014-11-25,"Southhampton,United Kingdom",New,UNITED KINGDOM,NaN,NaN,2014-11-26,JAROPAMEX ACUNA,WARDLE STOREYS,HLXU8442016,1,2,PVC SHEETING,9243186
10233585,2014112750078,2014-11-13,2014-11-27,9243186,"Houston, Texas",2014-11-27,"Anvers,Belgium",New,THE NETHERLANDS,NaN,NaN,2014-11-26,PACIFIC DRILLING SERVICES INC,PACIFIC DRILLING SERVICES INC,HLXU3623834,1,3,OILWELL DRILLING EQUIPMENT,9243186

In [54]:
#look at foreign port of unlading - more than one origin for the ship
df5 = df[['vessel_name','actual_arrival_date','foreign_port_of_lading']].drop_duplicates()
df5.shape, df3.shape

((92143, 3), (29846, 2))

In [57]:
#look at foreign port of unlading - more than one origin for the ship
df6 = df[['vessel_name','actual_arrival_date','port_of_unlading']].drop_duplicates()
df6.shape, df3.shape

((34671, 3), (29846, 2))

In [60]:
#look at the duplicate values
df6[df6.duplicated(['vessel_name','actual_arrival_date'], keep = False)].sort_values(
    ['vessel_name','actual_arrival_date'])
#how can a vessel arrive in two different ports a thousand miles apart on the same day???
#this must be the arrival at the final destination
        # which estimated arrival date should be used to calculate delay_days???

,vessel_name,actual_arrival_date,port_of_unlading
496002,9143037,2014-06-02,"Seattle, Washington"
4498700,9143037,2014-06-02,"Los Angeles, California"
3195364,9364992,2014-10-20,"Long Beach, California"
8766477,9364992,2014-10-20,"Los Angeles, California"
8231124,9401178,2014-12-24,"Charleston, South Carolina"
9961833,9401178,2014-12-24,"Houston, Texas"
1084085,9695016,2014-07-02,"Los Angeles, California"
6365127,9695016,2014-07-02,"Long Beach, California"
105352,ADELHEID-S.,2014-01-29,"Los Angeles, California"
5681304,ADELHEID-S.,2014-01-29,"Long Beach, California"
122739,ADRIAN MAERSK,2014-02-03,"Seattle, Washington"
1842995,ADRIAN MAERSK,2014-02-03,"Los Angeles, California"
4709892,ADRIAN MAERSK,2014-02-03,"Tacoma, Washington"
212900,ADRIAN MAERSK,2014-06-20,"Seattle, Washington"
1937029,ADRIAN MAERSK,2014-06-20,"Los Angeles, California"
288990,ADRIAN MAERSK,2014-08-14,"New York/Newark Area, Newark, New Jersey"
9589944,ADRIAN MAERSK,2014-08-14,"Savannah, Georgia"
292907,ADRIAN MAERSK,2014-08-20,"Savannah, Georgia"
1162394,ADRIAN MAERSK,2014-08-20,"New York/Newark Area, Newark, New Jersey"
26235,ADRIAN MAERSK,2014-10-12,"Seattle, Washington"
607545,ADRIAN MAERSK,2014-10-12,"Tacoma, Washington"
4616478,ADRIAN MAERSK,2014-10-12,"Long Beach, California"
5033618,ADRIAN MAERSK,2014-10-17,"Seattle, Washington"
10203925,ADRIAN MAERSK,2014-10-17,"Los Angeles, California"
52851,ADRIAN MAERSK,2014-12-04,"New York/Newark Area, Newark, New Jersey"
1793276,ADRIAN MAERSK,2014-12-04,"Savannah, Georgia"
249620,AGNES RICKMERS,2014-08-01,"Charleston, South Carolina"
10986005,AGNES RICKMERS,2014-08-01,"Seattle, Washington"
1797589,AJMIN,2014-12-10,"Tacoma, Washington"
9378451,AJMIN,2014-12-10,"Seattle, Washington"
...,...,...,...
3899173,ZIM TARRAGONA,2014-04-07,"Savannah, Georgia"
7809118,ZIM TARRAGONA,2014-07-08,"Charleston, South Carolina"
8960109,ZIM TARRAGONA,2014-07-08,"Houston, Texas"
236417,ZIM TARRAGONA,2014-07-13,"New York/Newark Area, Newark, New Jersey"
243606,ZIM TARRAGONA,2014-07-13,"Houston, Texas"
9820,ZIM TARRAGONA,2014-09-03,"New York/Newark Area, Newark, New Jersey"
304818,ZIM TARRAGONA,2014-09-03,"Houston, Texas"
75304,ZIM TARRAGONA,2014-12-19,"New York/Newark Area, Newark, New Jersey"
7374829,ZIM TARRAGONA,2014-12-19,"Los Angeles, California"
7945592,ZIM TARRAGONA,2014-12-19,"Houston, Texas"
123867,ZIM TEXAS,2014-02-04,"New York/Newark Area, Newark, New Jersey"
6264150,ZIM TEXAS,2014-02-04,"Seattle, Washington"
159746,ZIM TEXAS,2014-04-01,"New York/Newark Area, Newark, New Jersey"
2164899,ZIM TEXAS,2014-04-01,"Savannah, Georgia"
2455238,ZIM TEXAS,2014-04-01,"Houston, Texas"
196114,ZIM TEXAS,2014-05-20,"New York/Newark Area, Newark, New Jersey"
4781612,ZIM TEXAS,2014-05-20,"Savannah, Georgia"
10073621,ZIM TEXAS,2014-05-20,"Houston, Texas"
232535,ZIM TEXAS,2014-07-08,"New York/Newark Area, Newark, New Jersey"
1087681,ZIM TEXAS,2014-07-08,"Houston, Texas"
3606,ZIM TEXAS,2014-08-25,"New York/Newark Area, Newark, New Jersey"
4300946,ZIM TEXAS,2014-08-25,"Houston, Texas"
36695,ZIM TEXAS,2014-10-25,"New York/Newark Area, Newark, New Jersey"
5038355,ZIM TEXAS,2014-10-25,"Charleston, South Carolina"
70621,ZIM TEXAS,2014-12-13,"New York/Newark Area, Newark, New Jersey"
9096219,ZIM TEXAS,2014-12-13,"Savannah, Georgia"
87645,ZIM VIRGINIA,2014-01-08,"New York/Newark Area, Newark, New Jersey"
8526293,ZIM VIRGINIA,2014-01-08,"Long Beach, California"
40110,ZIM VIRGINIA,2014-10-30,"Savannah, Georgia"
7624439,ZIM VIRGINIA,2014-10-30,"Seattle, Washington"

In [59]:
#Look at observations for these vessel and arrival data combos
df[(df.vessel_name == '9143037') & (df.actual_arrival_date == '2014-06-02')].iloc[:,:-5].sort_values('actual_arrival_date')

,identifier,trade_update_date,run_date,vessel_name,port_of_unlading,estimated_arrival_date,foreign_port_of_lading,record_status_indicator,place_of_receipt,port_of_destination,foreign_port_of_destination,actual_arrival_date,consignee_name,shipper_party_name,container_number,description_sequence_number,piece_count,description_text,carrier
496002,2014060313484,2014-05-20,2014-06-03,9143037,"Seattle, Washington",2014-05-30,"Singapore,Singapore",New,SINGAPORE SG,NaN,NaN,2014-06-02,"BLUESTEM BRANDS, INC.","ROYCE ENTERPRISE CO., LTD",MSKU2270021,1,175,4QQ6190000010 MYHOME 6 DRAWER DRESSER,9143037
496003,2014060313484,2014-05-20,2014-06-03,9143037,"Seattle, Washington",2014-05-30,"Singapore,Singapore",New,SINGAPORE SG,NaN,NaN,2014-06-02,"BLUESTEM BRANDS, INC.","ROYCE ENTERPRISE CO., LTD",MSKU2270021,2,200,4QQ6200000010 MYHOME 2 DRAWER NIGHTSTAND,9143037
496005,2014060313484,2014-05-20,2014-06-03,9143037,"Seattle, Washington",2014-05-30,"Singapore,Singapore",New,SINGAPORE SG,NaN,NaN,2014-06-02,"BLUESTEM BRANDS, INC.","ROYCE ENTERPRISE CO., LTD",TCNU8157049,1,200,4QQ6150000010 MYHOME 1 DRAWER NIGHT STAND,9143037
496006,2014060313484,2014-05-20,2014-06-03,9143037,"Seattle, Washington",2014-05-30,"Singapore,Singapore",New,SINGAPORE SG,NaN,NaN,2014-06-02,"BLUESTEM BRANDS, INC.","ROYCE ENTERPRISE CO., LTD",TCNU8157049,2,200,4QQ6160000010 MYHOME 4 DRAWER CHEST,9143037
496007,2014060313484,2014-05-20,2014-06-03,9143037,"Seattle, Washington",2014-05-30,"Singapore,Singapore",New,SINGAPORE SG,NaN,NaN,2014-06-02,"BLUESTEM BRANDS, INC.","ROYCE ENTERPRISE CO., LTD",TCNU8157049,3,200,4QQ6180000010 MYHOME 3 3 DRAWER CHEST,9143037
496008,2014060313484,2014-05-20,2014-06-03,9143037,"Seattle, Washington",2014-05-30,"Singapore,Singapore",New,SINGAPORE SG,NaN,NaN,2014-06-02,"BLUESTEM BRANDS, INC.","ROYCE ENTERPRISE CO., LTD",TCNU8157049,4,25,4QQ6190000010 MYHOME 6 DRAWER DRESSER,9143037
4498700,2014060362188,2014-05-20,2014-06-03,9143037,"Los Angeles, California",2014-06-02,"Yokohama,Japan",New,TOKYO,NaN,NaN,2014-06-02,PARTSMART,"M.F.TRADING CO.,LTD.",MWCU5286546,1,25,LASER PRINTER PARTS,9143037
8921986,2014060329777,2014-05-12,2014-06-03,9143037,"Los Angeles, California",2014-06-02,"Yokohama,Japan",New,QINGDAO,NaN,NaN,2014-06-02,NaN,NaN,CMAU8294605,1,1742,COMMUNICATION CABLE INSULATED WIRE AND CABLE,9143037
9504910,2014060362140,2014-05-20,2014-06-03,9143037,"Los Angeles, California",2014-06-02,"Yokohama,Japan",New,TOKYO,NaN,NaN,2014-06-02,AKEBONO BRAKE COLOMBIA PLANT,NOK CORPORATION,MWCU5286546,1,80,"""NOK"" BRAND PRODUCTS",9143037

In [63]:
#Compare number of unique actual_arrival_date + vessel to run_date + vessel
df7 = df[['vessel_name','run_date']].drop_duplicates()
df7.shape, df3.shape

((65232, 2), (29846, 2))

In [71]:
df7[df7.duplicated(['vessel_name'])].sort_values('vessel_name').head(10)

         vessel_name   run_date
6511767      8711368 2014-01-06
4326955      9143037 2014-10-07
3900776      9243162 2014-04-11
7952408      9243174 2014-01-01
1590617      9243186 2014-03-29
7382819      9243186 2014-01-13
10299929     9243186 2014-02-22
8074406      9243203 2014-06-13
5950209      9243203 2014-01-16
8817529      9262728 2014-01-18

In [73]:
df[df.vessel_name == '8711368'].iloc[:,:-5]

,identifier,trade_update_date,run_date,vessel_name,port_of_unlading,estimated_arrival_date,foreign_port_of_lading,record_status_indicator,place_of_receipt,port_of_destination,foreign_port_of_destination,actual_arrival_date,consignee_name,shipper_party_name,container_number,description_sequence_number,piece_count,description_text,carrier
667434,201401043134,2013-12-09,2014-01-04,8711368,"Houston, Texas",2014-01-01,"Bremerhaven,Federal Republic of Germany",New,SHEFFIELD,NaN,NaN,2014-01-03,VESTAS NACELLES AMERICA INC.,COOPER & TURNER LTD,FSCU6490223,1,2,WINDMILL PARTS,8711368
6227593,201401043135,2013-12-09,2014-01-04,8711368,"Houston, Texas",2014-01-01,"Bremerhaven,Federal Republic of Germany",New,WERLTE,NaN,NaN,2014-01-03,VESTAS NACELLES AMERICA INC.,COMPONENTA B.V.,FSCU6490223,1,14,WINDMILL PARTS,8711368
6511767,201401063236,2013-12-09,2014-01-06,8711368,"Houston, Texas",2014-01-01,"Bremerhaven,Federal Republic of Germany",Amended,WERLTE,NaN,NaN,2014-01-03,VESTAS NACELLES AMERICA INC.,COMPONENTA B.V.,FSCU6490223,1,14,WINDMILL PARTS,8711368

** Estimated and Actual Arrival Dates **
The data set appears to only provide the actual_arrival_date for the final U.S. port of unlading   
  
For the purpose of this analysis:  
- The unit of analysis will be the ship run, and all interim stops will be assigned the same delay as the general ship  
How to group by ship run:    
   
PROBLEM  
After the fact data can be grouped by vessel name and actual arrival date since only one ship can arrive in one place at one time.   
Can't group on actual_arrival for the analysis because that won't be known when implementing the model to predict delays.  
    The identifier is not unique to a ship or shipment  
    The run_date can vary as can the trade_update_date  
    The ports can vary (multiple stops)     
  
POSSIBLE SOLUTION  
Get the first estimated arrival date for each ship     
        then include all estimated arrival dates that are +/- 15? days as connected to that ship's run 
        since this is international shipping it is expected that most ships won't reappear in the data for a month  
        or so on a new run.  test the number of days against grouping by actual arrival + vessel_name  
  
RIGOUROUS METHOD:  
- Sort data set by vessel_name and then by estimated arrival date  
- Enter a ship run index of 1 for all entries for all ships (combined with the ship name this will become the ship run number)   
- For each ship compare each subsequent estimated arrival to the first arrival, if it's within 15 days of the previous estimated arrival date, don't change the index, if it's not increase the index by 1, continue for the rest of the observations for that ship and then for all ships in the data set  
- For each ship run identify the maximum estimated arrival date and the delay_days between that max and the actual_arrival date, create a max estimated arrival date column and enter the max for that ship run in all observations for that ship run.
- For each ship run, get the number of unique ports of lading and unlading, and use at the total (known) port stops for that run, put this in a new column (this overestimates stops for interim pick up and drop off locations)
  
SIMPLIFIED METHOD:  (would have to use the above for true prediction)
- use the vessel_name + actual_arrival_date to identify vessel runs, and calculate the max estimated_arrival_date for each, the delay_days based on this max, and the number of unique ports of lading and unlading
- add a column and for each vessel and number the observations by actual_arrival_date to create vessel run numbers  
- Bring all of these fields back into the main dataset

In [74]:
df_vessels = df[['vessel_name','actual_arrival_date','estimated_arrival_date',
                 'foreign_port_of_lading','port_of_unlading']]

In [75]:
df_vessels.head(10)

,vessel_name,actual_arrival_date,estimated_arrival_date,foreign_port_of_lading,port_of_unlading
0,HYUNDAI FORCE,2014-08-19,2014-08-14,"Pusan,South Korea","Seattle, Washington"
1,HYUNDAI FORCE,2014-08-19,2014-08-14,"Pusan,South Korea","Seattle, Washington"
2,HYUNDAI FORCE,2014-08-19,2014-08-14,"Pusan,South Korea","Seattle, Washington"
3,HYUNDAI FORCE,2014-08-19,2014-08-14,"Pusan,South Korea","Seattle, Washington"
4,OOCL SHENZHEN,2014-08-20,2014-08-19,"Yantian,China (Mainland)","Long Beach, California"
5,HYUNDAI GLOBAL,2014-08-20,2014-08-18,"Kaohsiung,China (Taiwan)","Tacoma, Washington"
6,HYUNDAI GLOBAL,2014-08-20,2014-08-18,"Kaohsiung,China (Taiwan)","Tacoma, Washington"
7,COSCO HARMONY,2014-08-19,2014-08-19,"Xiamen,China (Mainland)","Los Angeles, California"
8,COSCO HARMONY,2014-08-19,2014-08-19,"Xiamen,China (Mainland)","Los Angeles, California"
9,COSCO HARMONY,2014-08-19,2014-08-19,"Xiamen,China (Mainland)","Los Angeles, California"

In [83]:
df[df.vessel_name == 'ZIM VIRGINIA'].sort_values('actual_arrival_date').actual_arrival_date.unique()

array(['2013-12-31T00:00:00.000000000', '2014-01-04T00:00:00.000000000',
       '2014-01-05T00:00:00.000000000', '2014-01-06T00:00:00.000000000',
       '2014-01-07T00:00:00.000000000', '2014-01-08T00:00:00.000000000',
       '2014-01-14T00:00:00.000000000', '2014-01-15T00:00:00.000000000',
       '2014-01-16T00:00:00.000000000', '2014-01-17T00:00:00.000000000',
       '2014-01-20T00:00:00.000000000', '2014-03-05T00:00:00.000000000',
       '2014-03-10T00:00:00.000000000', '2014-03-11T00:00:00.000000000',
       '2014-03-19T00:00:00.000000000', '2014-03-20T00:00:00.000000000',
       '2014-03-21T00:00:00.000000000', '2014-03-23T00:00:00.000000000',
       '2014-05-29T00:00:00.000000000', '2014-05-30T00:00:00.000000000',
       '2014-05-31T00:00:00.000000000', '2014-06-01T00:00:00.000000000',
       '2014-06-02T00:00:00.000000000', '2014-06-04T00:00:00.000000000',
       '2014-06-05T00:00:00.000000000', '2014-08-03T00:00:00.000000000',
       '2014-08-10T00:00:00.000000000', '2014-08-14T00:00:00.000000000',
       '2014-08-17T00:00:00.000000000', '2014-08-22T00:00:00.000000000',
       '2014-08-25T00:00:00.000000000', '2014-08-30T00:00:00.000000000',
       '2014-09-02T00:00:00.000000000', '2014-09-13T00:00:00.000000000',
       '2014-10-30T00:00:00.000000000', '2014-11-03T00:00:00.000000000',
       '2014-11-29T00:00:00.000000000'], dtype='datetime64[ns]')

In [96]:
#check the Zim Virginia as it seems to have some strange data,
df.iloc[:,:-5][df.vessel_name == 'ZIM VIRGINIA'].sort_values('actual_arrival_date')[['vessel_name','actual_arrival_date','estimated_arrival_date','foreign_port_of_lading','port_of_unlading']].drop_duplicates()[30:70]
#the Zim Virginia does have different arrival dates by port

,vessel_name,actual_arrival_date,estimated_arrival_date,foreign_port_of_lading,port_of_unlading
382735,ZIM VIRGINIA,2014-01-06,2013-12-31,"Kaohsiung,China (Taiwan)","Charleston, South Carolina"
8517926,ZIM VIRGINIA,2014-01-06,2014-01-05,"Puerto Manzanillo,Panama","Charleston, South Carolina"
3829793,ZIM VIRGINIA,2014-01-06,2013-12-31,"Pusan,South Korea","Charleston, South Carolina"
3829713,ZIM VIRGINIA,2014-01-06,2013-12-24,"Tsingtao,China (Mainland)","Charleston, South Carolina"
8807933,ZIM VIRGINIA,2014-01-06,2014-01-04,"Port Bustamante,Jamaica","Charleston, South Carolina"
8808318,ZIM VIRGINIA,2014-01-06,2013-12-17,"Tsingtao,China (Mainland)","Charleston, South Carolina"
8808642,ZIM VIRGINIA,2014-01-06,2013-12-31,"Shanghai ,China (Mainland)","Charleston, South Carolina"
5666196,ZIM VIRGINIA,2014-01-06,2013-12-31,"Xiamen,China (Mainland)","Charleston, South Carolina"
1247322,ZIM VIRGINIA,2014-01-06,2014-01-05,"Port Bustamante,Jamaica","Charleston, South Carolina"
668548,ZIM VIRGINIA,2014-01-06,2013-12-30,"Port Bustamante,Jamaica","Charleston, South Carolina"
1815368,ZIM VIRGINIA,2014-01-07,2014-01-02,"Puerto Manzanillo,Panama","New York/Newark Area, Newark, New Jersey"
9111453,ZIM VIRGINIA,2014-01-07,2014-01-02,"Kaohsiung,China (Taiwan)","New York/Newark Area, Newark, New Jersey"
9968673,ZIM VIRGINIA,2014-01-07,2014-01-02,"Pusan,South Korea","New York/Newark Area, Newark, New Jersey"
4111077,ZIM VIRGINIA,2014-01-08,2014-01-02,"Shanghai ,China (Mainland)","New York/Newark Area, Newark, New Jersey"
5944533,ZIM VIRGINIA,2014-01-08,2014-01-02,"Kaohsiung,China (Taiwan)","New York/Newark Area, Newark, New Jersey"
5945260,ZIM VIRGINIA,2014-01-08,2014-01-02,"Pusan,South Korea","New York/Newark Area, Newark, New Jersey"
8526293,ZIM VIRGINIA,2014-01-08,2013-12-30,"Shanghai ,China (Mainland)","Long Beach, California"
3544329,ZIM VIRGINIA,2014-01-14,2013-12-30,"Kaohsiung,China (Taiwan)","New York/Newark Area, Newark, New Jersey"
1251074,ZIM VIRGINIA,2014-01-15,2013-12-31,"Pusan,South Korea","New York/Newark Area, Newark, New Jersey"
1251919,ZIM VIRGINIA,2014-01-16,2014-01-13,"Pusan,South Korea","Savannah, Georgia"
9689919,ZIM VIRGINIA,2014-01-17,2013-12-26,"Pusan,South Korea","New York/Newark Area, Newark, New Jersey"
5952143,ZIM VIRGINIA,2014-01-17,2013-12-23,"Pusan,South Korea","New York/Newark Area, Newark, New Jersey"
10267870,ZIM VIRGINIA,2014-01-17,2014-01-02,"Pusan,South Korea","New York/Newark Area, Newark, New Jersey"
99551,ZIM VIRGINIA,2014-01-20,2014-01-04,"Yantian,China (Mainland)","Savannah, Georgia"
4439041,ZIM VIRGINIA,2014-03-05,2014-03-10,"Pusan,South Korea","Savannah, Georgia"
4729553,ZIM VIRGINIA,2014-03-05,2014-03-17,"Pusan,South Korea","Savannah, Georgia"
7721820,ZIM VIRGINIA,2014-03-05,2014-03-17,"Shanghai ,China (Mainland)","Savannah, Georgia"
4441533,ZIM VIRGINIA,2014-03-10,2014-03-11,"Sangi,Philippines","Savannah, Georgia"
2149247,ZIM VIRGINIA,2014-03-11,2014-03-19,"Kaohsiung,China (Taiwan)","Charleston, South Carolina"
1580065,ZIM VIRGINIA,2014-03-11,2014-03-13,"Kaohsiung,China (Taiwan)","Charleston, South Carolina"
152050,ZIM VIRGINIA,2014-03-19,2014-03-17,"Shanghai ,China (Mainland)","Savannah, Georgia"
7727436,ZIM VIRGINIA,2014-03-19,2014-03-17,"Xiamen,China (Mainland)","Savannah, Georgia"
3312014,ZIM VIRGINIA,2014-03-19,2014-03-17,"Pusan,South Korea","Savannah, Georgia"
1008729,ZIM VIRGINIA,2014-03-19,2014-03-24,"Pusan,South Korea","Savannah, Georgia"
10315733,ZIM VIRGINIA,2014-03-19,2014-03-17,"Yantian,China (Mainland)","Savannah, Georgia"
10601779,ZIM VIRGINIA,2014-03-19,2014-03-17,"Kaohsiung,China (Taiwan)","Savannah, Georgia"
151225,ZIM VIRGINIA,2014-03-19,2014-03-19,"Puerto Manzanillo,Panama","Savannah, Georgia"
1870085,ZIM VIRGINIA,2014-03-19,2014-03-17,"Hong Kong,Hong Kong","Savannah, Georgia"
9170701,ZIM VIRGINIA,2014-03-19,2014-03-22,"Shanghai ,China (Mainland)","Savannah, Georgia"
1008317,ZIM VIRGINIA,2014-03-19,2014-03-19,"Hong Kong,Hong Kong","Savannah, Georgia"

** Limit to just the top US port and possible just one of its trading ports **

Explore the data between one set of ports